<div class="container">
  <!-- Property Click in angular template -->
  <button (click)="generateReportButton()" type="button" class="btn btn-danger float-left">Generate 1° Report</button>

  <!-- NgDirective, with if && else statements -->

  <table *ngIf="service.info.data !== null; else keepTrying"  class="table">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First Position</th>
        <th scope="col">Last Position</th>
      </tr>
    </thead>
    <tbody>
      <!-- For loop, fill dynamic table with response api  -->
      <tr *ngFor="let data of service.info.data; let i = index; let first = first; let last = last">
        <td>{{i}}</td>
        <td [style.backgroundColor]="data >= 2 ? 'green' :'yellow'">{{data}}</td>
        <td>{{service.info.data.length}}</td>
        <td>{{first}}</td>
        <td>{{last}}</td>
      </tr>
    </tbody>
  </table>
<ng-template #keepTrying>
    <p>Keep trying</p>
</ng-template>

  
  </div>


